<h2>Content items</h2>

<table class="table">
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for {content_item_id, title} <- @ids_and_titles do %>
    <tr>
      <td class="text-right">
        <%= link title, to: content_item_path(@conn, :show, content_item_id) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
